# Server Configuration
NODE_ENV=development                    # Environment: development, production, test
PORT=3001                               # Port number for the server

# Database Configuration (REQUIRED)
MONGODB_URI=mongodb://localhost:27017/   # MongoDB connection URI (REQUIRED)
DB_NAME=mydb                     # Database name (default: mydb)

# Authentication
JWT_SECRET=awXwNFpMPDdMCjk4eYEi5OdjGHSf7TS/2jMtH3EgfN0=         # Secret key for JWT token generation (default provided)

# CORS Configuration
FRONTEND_URL=http://localhost:3000      # Frontend URL for CORS (default: http://localhost:3000)
SEED_USER_ID=6985c7272821ed56fd985152